Options -MultiViews

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Se for arquivo ou pasta real → serve normal
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Qualquer outra rota → manda pro React
  RewriteRule ^ index.html [L]
</IfModule>